<h1>Sci-fi trading card generator</h1>

<p>Completely impact multifunctional processes and wireless supply chains. Dynamically engage business meta-services for market-driven data.</p>

<button><a href="/card/new">Create card</a></button>

<button>Create game</button>




<div class="card_stream">
  
  <!-- Get each card from the database and diplay it -->
  <% @card.each do |card| %>
    
    <div class="userCreatedCard">
      <div class="cardTemplate">
  
        <div class="user-image">
          <img src="<%= card.artworkurl %>">
        </div>

        <div class="user-text">
          <p>Creature name: <%= card.name %></p>
          <p>Type: <%= card.creatureclass %></p>
          <p>Found on: <%= card.planet %></p>
          <p>Movement: <%= card.movement %></p>
          <p>Damage: <%= card.damage %></p>
          <p>Health: <%= card.health %></p>
          <p>Rules: <%= card.descriptionrules %></p>
          <p>Description: <%= card.descriptionflavor %></p>
        </div>

      </div>
        

        <% if current_user.id && card.user_id %>
          
      <button><a href="/card/<%= card.id %>/edit">Edit</a></button>

      <form action="/card/<%= card.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">

        <button>Delete</button>
      </form>

        <% end %>
      <!-- END OF userCreatedCard -->
    </div>

  <% end %>

</div>


<script>
  
</script>