<h1>Cardmate: <h3>The Sci-fi trading card generator</h3></h1> 


<button><a href="/card/new">Create card</a></button>
<button>Create game</button>

<br/>

<div class="cards">

  <!-- CREATE A CARD LOOP -->
  <% @card.each do |card| %>

    <div class="cardTemplate">

      <div class="creature-name"><%= card.name %></div>

      <div class="user-image">
        <img src="<%= card.artworkurl %>">
      </div>

      <div class="user-text">
        <div class="">Creature name: <%= card.name %></div>
        <div class="">Type: <%= card.creatureclass %></div>
        <div class="">Found on: <%= card.planet %></div>
        <div class="">Movement: <%= card.movement %></div>
        <div class="">Damage: <%= card.damage %></div>
        <div class="">Health: <%= card.health %></div>
      </div>
    </div>

  <% end %>

</div>
      
