<h1 class="heading">Card-Smith: <span id="heading">A Sci-fi themed trading card generator</span></h1>
<div class="row">
  <div class="col-md-12 buttons">
    <p class="buttons">
      <a href="/card/new" class="btn grey create">New card</a>
      <a href="#" class="btn grey">New Game (coming soon)</a>
    </p>
  </div>
</div>
<br/>
<div class="cards">
  <!-- CREATE A CARD -->
  <% @card.each do |card| %>
        <a href="card/<%=card.id%>/view"> 

  <div class="cardTemplate">
      <div class="creature-name"><%=card.name%></div>

      <div class="user-image">
        <img src="<%= card.artworkurl %>">
      </div>
      <div class="user-text">
        <div class="bottom-left-top">Type: <%= card.creatureclass %></div>
        <div class="bottom-left-top">Found on: <%= card.planet %></div>
        <div class="bottom-left-bottom">Speed: <%= card.movement %></div>
        <div class="bottom-right">Dmg: <%= card.damage %></div>
        <div class="bottom-right">HP: <%= card.health %></div>
      </div>
    </div>
</a>
<% end %>
  </div>
