
<h1 class="heading">Card-Smith: <span id="heading">A Sci-fi themed trading card generator</span></h1> 

<div class="homepage-buttons">
  <a href="/card/new" class="btn grey">New card</a>
  <a href="#" class="btn grey">New Game (coming soon)</a>
</div>

<br/>
<div class="cards">
  <!-- CREATE A CARD -->
  <% @card.each do |card| %>
  <div class="cardTemplate">
    <a href="card/<%=card.id%>/view">
      <div class="creature-name"><%=card.name%></div>
      <div class="user-image">
        <img src="<%= card.artworkurl %>">
      </div>
      <div class="user-text">
        <div class="bottom-left-top">Type: <%= card.creatureclass %></div>
        <div class="bottom-left-top">Found on: <%= card.planet %></div>
        <div class="bottom-left-bottom">Speed: <%= card.movement %></div>
        <div class="bottom-right">Dmg: <%= card.damage %></div>
        <div class="bottom-right">HP: <%= card.health %></div>
      </div>
    </div>
    <% end %>
</div>



