<h1>Cardmate: <h3>The Sci-fi trading card generator</h3></h1> 


<button><a href="/card/new">Create card</a></button>
<button>Create game</button>



<br/>

<div class="cards">

  <!-- CREATE A CARD LOOP -->
  <% @card.each do |card| %>

  <data></data>
      <div class="cardTemplate">  
        <a href="card/<%=card.id%>/view">

      <div class="creature-name"><%=card.name%></div>

      <div class="user-image">
 
          <img src="<%= card.artworkurl %>">

      </div>

      <div class="user-text">
        <div class="bottom-left-top">Type: <%= card.creatureclass %></div>
        <div class="bottom-left-top">Found on: <%= card.planet %></div>
        <div class="bottom-left-bottom">Speed: <%= card.movement %></div>
        <div class="bottom-right">Dmg: <%= card.damage %></div>
        <div class="bottom-right">HP: <%= card.health %></div>
      </div>
    </div>

  <% end %>

</div>
      
