<h1>About</h1>


  <div class="userCreatedCard">
      <div class="cardTemplate">
  
        <div class="user-image">
          <img src="<%= @card.artworkurl %>">
        </div>

    <div class="user-text">
      <div class="">Creature name: <%= @card.name %></div>
      <div class="">Type: <%= @card.creatureclass %></div>
      <div class="">Found on: <%= @card.planet %></div>
      <div class="">Movement: <%= @card.movement %></div>
      <div class="">Damage: <%= @card.damage %></div>
      <div class="">Health: <%= @card.health %></div>
      <div class="">Rules: <%= @card.descriptionrules %></div>
      <div class="">Description: <%= @card.descriptionflavor %></div>
    </div>




    <button><a href="/">Back</button></a>
